services:
  db:
    image: "mysql:8.4.7"
    environment:
      - MYSQL_ROOT_PASSWORD=1234
      - MYSQL_DATABASE=db_post
    volumes:
      - mysql-volume:/var/lib/mysql
    ports:
      - "3306:3306"
    networks:
      - web
    restart: always
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 30s
      timeout: 10s
      retries: 5


volumes:
  mysql-volume:

networks:
  web:
    driver: bridge